body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  background-color: rgb(7, 7, 7);
  margin: 0;
  padding: 0;
}

.chat-box {
  height: 350px;
  overflow: auto;
  padding: 10px;
}

.chat-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.chat-message {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.user-message {
  background-color:#272a2b;
  color: #fff;
  font-size: 20px;
 
}

.bot-message {
  background-color: #484848;
  color: white;
  font-size: 20px;
 
}

.message-text pre code {
  font-size: 14px;
  white-space: pre-wrap;
}

.user-icon {
  font-size: 20px;
  margin-right: 10px;  
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.bot-icon {
  font-size: 20px;
  margin-right: 10px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}